.bottom-section {
  margin-top: 3rem;
  width: 100%;
  flex-wrap: wrap;
}

.voucher {
  width: 20rem;
}

.total-section {
  width: 35rem;
}

.bottom {
  /* width: 100%; */
  border-bottom: red 2px;
}
